<!DOCTYPE html>
<html class="no-js" lang="en">

<!-- belle/home11-grid.html   11 Nov 2019 12:31:50 GMT -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Rodamientos Calena S.A. de C.V.</title>
<meta name="description" content="description">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
<!-- Favicon -->
<link rel="shortcut icon" href="{% static 'CalenaApp/images/logo.png' %}" />
<!-- Plugins CSS -->
<link rel="stylesheet" href="{% static 'CalenaApp/css/plugins.css' %}">
<!-- Bootstap CSS -->
<link rel="stylesheet" href="{% static 'CalenaApp/css/bootstrap.min.css' %}">
<!-- Main Style CSS -->
<link rel="stylesheet" href="{% static 'CalenaApp/css/style.css' %}">
<link rel="stylesheet" href="{% static 'CalenaApp/css/responsive.css' %}">
</head>
<body class="template-index home11-grid">
<div id="pre-loader">
    <img src="{% static 'CalenaApp/images/loader2.gif' %}" alt="Loading..." />
</div>
<div class="pageWrapper">

    <!-- Start navbar section -->
	{% include 'CalenaApp/navbar.html' %}
	<!-- Ends navbar section -->

    <!--Body Content-->
    <div id="page-content">
        
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 cart__footer pt-5 mx-auto">
                    <div class="solid-border" style="border-radius: 8px;">
                        <div class="row pb-5">
                            <span class="col-12 col-sm-6 cart__subtotal-title" style="font-weight:bold;
                                font-family: 'Open Sans', sans-serif; font-size: 20px;"><strong>Resumen</strong></span>
                        </div>
            
                        {% for item in productos_con_cantidad %}
                        <div class="row">
                            <span class="col-12 col-sm-6 cart__subtotal-title"><strong>{{ item.producto.titulo_producto }}</strong></span>
                            <span id="subtotal-{{ item.producto.id_producto }}" class="col-12 col-sm-6 cart__subtotal-title cart__subtotal text-right"><span class="money">x{{ item.cantidad }}</span></span>
                        </div>
                        {% endfor %}

                        <div class="row pt-5">
                            <a href="{% url 'carrito' %}" class="btn btn-primary w-100" style="background-color: #15374C; color: white; border-radius: 8px;font-weight:bold;
                            font-family: 'Open Sans', sans-serif;">REGRESAR AL CARRITO</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
                	<form action="#" method="post" class="cart style2">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                  <div class="section-header">
                                    <style>
                                      .h2indez {
                                        text-transform: none;
                                        font-size: 25px;
                                        color: #EF502E;
                                        font-weight: bold;
                                        font-family: 'Open Sans', sans-serif;
                                        border-bottom: 1px solid black; /* Agregar línea inferior */
                                        padding-bottom: 10px; /* Opcional: agregar espacio entre el título y la línea */
                                      }
                                    </style>
                                    <p class="h2indez">Datos del cliente</p>
                                  </div>
                                </div>
                            </div>
                            <div class="row align-items-center pb-5">
                                <div class="container">
                                    <form method="post" id="formulario">
                                        <!-- Primera fila con tres columnas -->
                                        <div class="row">
                                            <div class="col-md-4 mb-3">
                                                <label for="inputNombre">Nombre</label>
                                                <input type="text" class="form-control" id="inputNombre" placeholder="Ingresa tu nombre" required>
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <label for="inputApellido">Apellido</label>
                                                <input type="text" class="form-control" id="inputApellido" placeholder="Ingresa tu apellido" required>
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <label for="inputTelefono">Teléfono</label>
                                                <input type="text" class="form-control" id="inputTelefono" placeholder="Ingresa tu teléfono" required>
                                            </div>
                                        </div>
                                
                                        <!-- Segunda fila con dos columnas -->
                                        <div>
                                            <div class="col-md-8 mb-3">
                                                <label for="inputEmail">Email</label>
                                                <input type="email" class="form-control" id="inputEmail" placeholder="Ingresa tu email" required>
                                            </div>
                                            <div class="col-md-4 mb-3 pt-4">
                                                <input type="button" onclick="sendEmailContac()" id="delete-cookies-btn" type="submit" style="background-color: #15374C; color: white; border-radius: 8px;font-weight:bold;
                                            font-family: 'Open Sans', sans-serif;" id="cartCheckout" class="btn" value="ENVIAR">
                                            </div>

                                            <div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header d-flex justify-content-center">
                                                            <img style="max-width: 26%;" src="{% static 'CalenaApp/images/logo.png' %}" alt="Calena" title="Calena" />
                                                        </div>
                                                        <div class="modal-body text-center">
                                                            <p class="h2indez">Cotización enviada con éxito</p>
                                                            <p>Gracias por dejarnos ser tu opción de proveedor de confianza.</p>
                                                            <p style="font-weight: bold;">Recibirás pronta respuesta a tu cotización vía correo electrónico.</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                                <a href="{% url 'carrito' %}" class="btn btn-primary w-100" style="background-color: #15374C; color: white; border-radius: 8px;font-weight:bold;
                                                                font-family: 'Open Sans', sans-serif;">CERRAR</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <script>
                                                // Function to delete the 'favoritos' cookie
                                                function deleteFavoritosCookie() {
                                                    document.cookie = "favoritos=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
                                                }
                                            
                                                // Attach click event handler to the button
                                                document.getElementById("delete-cookies-btn").addEventListener("click", deleteFavoritosCookie);
                                            </script>
                                        </div>
                                
                                        <!-- Botón de envío del formulario -->
                                        
                                    </form>
                                    <script src="https://smtpjs.com/v3/smtp.js"></script>
                                    <script>
                                        function sendEmailContac() {
                                            // Obtener los valores de los campos del formulario
                                            const nombre = document.getElementById("inputNombre").value;
                                            const apellido = document.getElementById("inputApellido").value;
                                            const telefono = document.getElementById("inputTelefono").value;
                                            const email = document.getElementById("inputEmail").value;
                                            
                                            // Estilos CSS en línea
                                            const style = `
                                                padding: 20px;
                                                border: 1px solid #ccc;
                                                border-radius: 8px;
                                                background-color: #f0f0f0;
                                                font-family: Arial, sans-serif;
                                                background-color: #15374C;
                                                color: white;
                                            `
                                            const thstyle = `
                                                background-color: #EF502E;
                                                color: white;
                                                font-weight: bold;
                                                padding: 8px;
                                                text-align: left;
                                            `

                                            const tdstyle = `
                                                border: 1px solid #ccc;
                                                padding: 8px;
                                            `

                                            const btnstyle = `
                                                display: inline-block;
                                                background-color: #EF502E;
                                                color: white;
                                                padding: 8px 16px;
                                                text-decoration: none;
                                                border-radius: 4px;
                                                margin-top: 20px;
                                            `

                                            Email.send({
                                                SecureToken: "bb69b76e-6d29-469f-a5f0-a1e0686dab93",
                                                To: 'info@calena.com.mx',
                                                From: "calenaoficial@outlook.com",
                                                Subject: "Pedido Nuevo",
                                                Body: `
                                                    <div style="${style}">
                                                        <h1 style="color: #EF502E;">Nueva cotización</h1>
                                                        <h2>Datos del cliente</h2>
                                                        <p><strong>Nombre:</strong> ${nombre} ${apellido}</p>
                                                        <p><strong>Teléfono:</strong> ${telefono}</p>
                                                        <p><strong>Email:</strong> ${email}</p>
                                                    </div>

                                                    <div>
                                                        <h2>Resumen del pedido</h2>
                                                        <table style=" width: 100%; border-collapse: collapse;">
                                                            <thead>
                                                                <tr>
                                                                    <th style="${thstyle}">Nombre del Producto</th>
                                                                    <th style="${thstyle}">Código</th>
                                                                    <th style="${thstyle}">Cantidad</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for item in productos_con_cantidad %}
                                                                    <tr>
                                                                        <td style="${tdstyle}">{{ item.producto.titulo_producto }}</td>
                                                                        <td style="${tdstyle}">{{ item.producto.codigo_producto }}</td>
                                                                        <td style="${tdstyle}">x{{ item.cantidad }}</td>
                                                                    </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <a style="${btnstyle}" href="mailto:${email}?subject=Respuesta%20cotización%20-%20${nombre}%20${apellido}&body=Estimado%20Cliente,%0D%0A%0D%0ALe%20hacemos%20llegar%20el%20total%20de%20la%20cotización%20del%20siguiente%20pedido:%0D%0A%0D%0A{% for item in productos_con_cantidad %}%0D%0A{{ item.producto.titulo_producto }}%20x{{ item.cantidad }}%0D%0A{% endfor %}%0D%0A%0D%0A%0D%0ATotal: %0D%0AAtentamente,%0D%0ACALENA%0D%0A%0D%0A">Responder cotización</a>
                                                `
                                            }).then(message => {
                                                // Instead of alert, show the email content in the modal
                                                var modalBody = document.querySelector('.modal-body');
                                                
                                                $('#emailModal').modal('show'); // Show the modal
                                            });
                                        }
                                    </script>

                                </div>
                                
                            </div>
                        </div>
                    </form>                   
               	</div>
            </div>
        </div>
        
    </div>
    <!--End Body Content-->

    <!-- Start navbar section -->
	{% include 'CalenaApp/footer.html' %}
	<!-- Ends navbar section -->
    
    <!--Scoll Top-->
    <span id="site-scroll"><i class="icon anm anm-angle-up-r"></i></span>
    <!--End Scoll Top-->
    
     <!-- Including Jquery -->
     <script src="{% static 'CalenaApp/js/vendor/jquery-3.3.1.min.js' %}"></script>
     <script src="{% static 'CalenaApp/js/vendor/modernizr-3.6.0.min.js' %}"></script>
     <script src="{% static 'CalenaApp/js/vendor/query.cookie.js' %}"></script>
     <script src="{% static 'CalenaApp/js/vendor/wow.min.js' %}"></script>
     <!-- Including Javascript -->
     <script src="{% static 'CalenaApp/js/bootstrap.min.js' %}"></script>
     <script src="{% static 'CalenaApp/js/plugins.js' %}"></script>
     <script src="{% static 'CalenaApp/js/popper.min.js' %}"></script>
     <script src="{% static 'CalenaApp/js/lazysizes.js' %}"></script>
     <script src="{% static 'CalenaApp/js/main.js' %}"></script>
</div>
</body>

</html>